/*Trying to add a new font*/
@font-face {
  font-family: "Skola Sans";
  src: url(../fonts/SkolaSans-Regular.otf);
}

* {
    font-family: "Skola Sans";
    color: #993300;
}

textarea {
    resize: none;
}

#par {
    text-indent: 5em;
    line-height: 1.5;
}

h1 {
    color: #993300;
}

body {
    background-color: #fefeeb;
}

#text-wrapper {
	margin-left: 3em;
	margin-right: 3em;
}

#text-wrapper p {
	text-align: justify;
}

#icompass-button {
	padding: 10px 10px 10px 10px;
	margin: 15px;
	font-size: 100%;
	width: 30%;
	background-color: #ef8a13;
	color: #f0f0f0;
	border-radius: 3px;
	border: none;
    text-align: center;
}

#button-start-esas:focus {
	outline: 0;
}

#table-personal-info {
	width: 60%;
	margin: 2em;
	margin-top: 0em;
	border-collapse: collapse;
}

#table-personal-info  td {
	border: 0px solid #b0b0b0;
	padding: 10px;
	vertical-align: top;
}

#table-personal-info .info {
}

#table-personal-info .label {
    width: 20%;
}

#profile-pic {
	width: 9em;
	height:9em;
	padding: 5px;
	border-radius: 100%;
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
}

.message-list {
    text-align: justify;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#pic-and-name-wrapper-table {
    border-collapse: collapse;
    width:  80%;
}

#pic-and-name-wrapper-table td{
    padding: 1px;
}

#doctor-info-wrapper-table {
    border-collapse: collapse;
    width: 80%;
}

#doctor-info-wrapper-table td {
    padding: 5px;
}

#thumb-pic {
    width: 4em;
    height:4em;
    border-radius: 100%;
    border:1px solid #aaaaaa;
    
}


#doctor-name-beside-pic {
    font-size: 150%;
}


#list-doctor-wrapper {
    border-collapse: collapse;
    width: 70%;
}

#list-doctor-wrapper td {
    border: 0px solid black;
    padding: 10px;
    vertical-align: middle;
}

#doctor-pic-column {
    width: 30%;
}

#prescription-textarea {
    padding: 1em;
    line-height: 1.5;
    width: 80%;
}

#admin-message{
    height: 165px;
    width: 310px;
}

#register-user-site-loader {
    margin-top: 2em;
}

.view-users-button-group {
    list-style-type: none;
}

.view-users-button-group .button {
    display: inline-block;
    background-color: #ef8a13;
    color: #fefeeb;
    padding: 0.5em;
    width: 100px;
}

#view-users-patient-type #cell {
    width: 20%;
}

#view-users-doctor-type #cell {
    width: 20%;
}


.view-patient-button-group {
    list-style-type: none;
    padding-bottom: 20px;
}

.view-patient-button-group .button {
    display: inline;
    background-color: #ef8a13;
    color: #fefeeb;
    width: 130px;
    height: 100px;
    padding: 0.5em;
}

#view-patient-prescriptions-textarea {
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 70px;
}

#edit-prescription-button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
	margin: 15px;
	font-size: 14pt;
	background-color: #ef8a13;
	color: #f0f0f0;
	border: none;
}

#content-pain-test-results p {
    text-align: center;
    line-height: 1.0;
}

.symptom-description-table {
    border-collapse: collapse;
    background-color: #ffffff;
    margin: 0px 0px 25px 0px;
}

.symptom-description-table td {
    border: 1px solid #993300;
    padding: 5px 15px 5px 15px;
}

.symptom-description-table > thead > tr > td {
    text-align: center;
}

.tap-color-table {
    margin: 0px 0px 20px 0px;
}

.nine-symptoms-list {
    list-style-type: none;
    text-align: left;
    width: 40%;
    line-height: 1.5;
}

#list-of-doctors-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#pain-doctor-head {
    background-color: #f4b374;
    color: #fefeeb;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
}

#pain-doctor-body {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

#other-doctors-head {
    background-color: #f4b374;
    color: #fefeeb;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
}

#other-doctors-body {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.list-of-doctors-table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

.list-of-doctors-table img {
    width: 7em;
    height: auto;
    margin-top: 3px;
    margin-left: 2em;
}

.list-of-doctors-table td {
    /*border: 1px solid black;*/
}

.list-of-doctors-table .pic-column, .list-of-doctors-table .info-column {
    vertical-align: top;
    padding: 2em 0em 2em 0em;
}

.list-of-doctors-table .pic-column {
    /*width: 30%;*/
    border: 2px solid #d0d0d0;
    border-right: 0px;
}

.list-of-doctors-table .info-column {
    border: 2px solid #d0d0d0;
    border-left: 0px;
    width: 100%;
}

.doctor-info-table-brief {
    border-collapse: collapse;
    text-align: left;
    margin: auto;
    width: 90%;
}

.doctor-info-table-brief .info {
    padding-right: 1em;
    vertical-align: text-top;
}

.doctor-info-table-brief .label {
    width: 100%;
}

.doctor-info-table-brief .info, .doctor-info-table-brief .label {
    padding-bottom: 1em;
    line-height: 1.5;
    font-size: 90%;
}

.doctor-profile-table {
    margin: auto;
    border-collapse: collapse;
    margin-top: 2em;
    width: 60%;
}

.doctor-profile-table td {
    border: 0px solid black;
    line-height: 1.5;
}

.doctor-profile-table img {
    width: 7em;
    height: auto;
    margin-top: 5px;
}

.doctor-pic-and-name-table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #d0d0d0;
}

.doctor-pic-and-name-table td {
    padding: 1em 1em 1em 1em;
}

.doctor-detailed-info {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.clinic-hours-table {
    border-collapse: collapse;
    margin: 0px 0px 0px -2px;
    width: 100%;
}

.day-column {
    text-indent: 1em;
    vertical-align: text-top;
}

.time-column {
    width: 80%;
    padding-left: 20px;
    text-align: right;
}

.name-column {
    width: 80%;
    padding-left: 1em;
}


.message-wrapper {
    width: 80%;
    margin-left: 3em;
	margin-right: 3em;
}

.message-wrapper p {
    text-align: left;
}

.message-head p{
    font-size: 95%;
    margin: 0px 0px 7px 0px;
    text-align: left;
}

.message-head {
    margin-bottom: 2em;
}

.message-body {
    font-size: 115%;
}

.messages-wrapper-table {
    border-spacing: 7px;
    border-collapse: collapse;
    width: 100%;
}

.messages-wrapper-table table{
    border-spacing: 7px;
    border-collapse: collapse;
}

.messages-wrapper-table td {
    /*border: 1px solid black;*/
}

.individual-message-wrapper-table {
    width: 100%;
}

.sender-cell {
    width: 80%;
}

.date-time-cell {
    width: 10%;
}

.right-arrow-cell {
    text-align: center;
    width: 10%;
}

.individual-message-wrapper {
    border-bottom: 2px solid #d0d0d0;
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    cursor: pointer;
}

.individual-message-wrapper:hover {
    background-color: #e0e0e0;
}

.individual-message-wrapper:active {
    background-color: #d0d0d0;
}

.first-individual-message-wrapper {
    padding-top: 2em;
    border-top: 2px solid #d0d0d0;
}

.edit-message-button {
    padding: 7px 10px 5px 10px;
	margin: 15px;
	font-size: 100%;
	background-color: #ef8a13;
	color: #f0f0f0;
	border-radius: 3px;
	border: none;
    text-align: center;
    float: left;
    width: 5em;
}

.edit-message-button:focus {
    outline: none;
}
