.slider {
    -webkit-appearance: none;
    width: 90%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #808080;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #eeeeee;
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 1px 1px 1px #c0c0c0;
}

.slider:focus {
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    width: 40%;
    height: 10px;
    cursor: pointer;
    background: #eeeeee;
    border-radius: 100px;
    border: 1px solid #c0c0c0;
}
